<div class="now">
  <div class="col -12">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Seleccione Ciudad
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#"
          (click)="Paises(3601783,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          San Pedro Sula
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(2643743,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Londres
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(2968815,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Paris
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(5128638,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Nueva York
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(1850147,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Tokyo
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(2147714,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Sydney
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(3435910,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Buenos Aires
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(3451190,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Rio de Janeiro
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(2950158,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Berlin
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(5601538,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Moscu
          </a>
          <a class="dropdown-item" href="#"
          (click)="Paises(292223,temperatura.id,humedad.id,tempmax.id,tempmin.id,nubes.id)">
          Dubai
          </a>
        
      </div>

      <Div>
        <br>
        <p>
          La Temperatura es:
        </p>
          <label #temperatura id="temperatura"></label>
        <br>
        <p>
            La Humedad es:
        </p>
          <label #humedad id="humedad"></label>
        <br>
        <p>
            La Temperatura Maxima es:
        </p>
          <label #tempmax id="tempmax"></label>
        <br> 
        <p>
            La Temperatura Minima es:
        </p>
          <label #tempmin id="tempmin"></label> 
        <br> 
        <p>
            La Nubosidad es de:
        </p>
          <label #nubes id="nubes"></label> 
      </Div>
    </div>

  </div>
</div>